<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" verbose="true" colors="true" cacheResult="false">
    <testsuites>
        <testsuite name="All Tests Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SERVER_PRIVATE" value="certs/server.key" force="true" />
        <env name="SERVER_CERT" value="certs/server.crt" force="true" />
        <env name="SERVER_PUBLIC" value="certs/server.pub" force="true" />
        <env name="SOCKET_PRIVATE" value="certs/socket.key" force="true" />
        <env name="SOCKET_CERT" value="certs/socket.crt" force="true" />
        <env name="SOCKET_PUBLIC" value="certs/socket.pub" force="true" />
        <env name="GPG_SERVER_KEY" value="572A0A03F67FD96351BBF7F3FC869096CAF45839" force="true" />
        <env name="GPG_SERVER_PASS" value="password" force="true" />
        <env name="GPG_CLIENT_KEY" value="572A0A03F67FD96351BBF7F3FC869096CAF45839" force="true" />
        <env name="GPG_CLIENT_PASS" value="password" force="true" />
    </php>
</phpunit>